*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Source Sans Pro',sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
section{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-grow: column wrap;
    align-items: center;
    justify-content: center;
}
.navigate{
    position: fixed;
    width: 100%;
    height: 5rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 1rem;
    color: rgb(132, 214, 247);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: 2px solid white;
    padding: .5rem .5rem;
}
.oplist{
    width: 30rem;
    top: 0;
    right: 0;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: transform .5s;
}
.opitem{
    list-style: none;
}
.link{
    text-decoration: none;
    display: block;
    color: cornflowerblue;
    font-size: 1.6rem;
    font-weight: 700;
    padding: .5rem;
    transition: all .5s;
}
.link:hover{
    color: black;
    border-radius: .4rem;
    background-color: cornflowerblue;
}
.headline{
    width: 100%;
    height: 100vh;
    background: url('bg3.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}
.headline::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}
.clip{
    width: 60%;
    height: inherit;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}
.mainhead{
    width: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: navy;
    padding: 1rem;
    z-index: 20;
}
.greet{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .5rem;
}
.name{
    font-size: 2.5rem;
    width: 500px;
    font-weight: 600;
    letter-spacing: .2rem;
}
.cta-btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background-color: cornflowerblue;
    padding: .5rem 2rem;
    margin-top: 5rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(0, 0, 0, .3);
    position: relative;
}
#about,
#mywork,
#contact{
    color: white;
    background-color: rgb(61, 43, 85);
}
#about p{
    font-size: 2rem;
    width: 600px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}
.exp,
.ref{
    position: relative;
    color: #fff;
    left: 0;
    top: 50%;
}
.ref{
    text-align: center;
}
.exp h2,
.ref p{
    font-size: 3rem;
    font-weight: 700;
}
.exp p{
    margin-top: 1rem;
    font-size: 1.8rem;
}
.ref p{
    margin-bottom: 2rem;
}
.ref a{
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
    background-color: cornflowerblue;
    padding: .5rem 1rem;
    margin-top: 1.6rem;
    border-radius: .4rem;
    box-shadow: 3px 3px 1rem rgba(148, 111, 111, 0.5);
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.linkedin,
.email{
    position: relative;
    left: 40%;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.linkedin a{
    text-decoration: none;
    color: rgb(64, 233, 224);
}
@media screen and (max-width:760px){
    .clip{
        width: 100%;
        height: 75vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    }
    .logo a{
        font-size: .8rem;
        outline-color: black;
    }
    .cta-btn{
        font-size: .8rem;
        margin-top: 2rem;
    }
    .greet{
        font-size: 3rem;
    }
    .name{
        font-size: 1rem;
    }
    .oplist{
        width: 10rem;
    }
    .link{
        font-size: .5rem;
    }
    #about p{
        font-size: 1rem;
        width: 200px;
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .exp,
    .ref{
        top: 0;
        left: 80px;
    }
    .exp h2,
    .ref p{
        font-size: 1.4rem;
        font-weight: 300;
    }
    .ref{
        text-align: left;
    }
    .exp p,
    .ref a{
        font-size: .8rem;
        font-weight: 300;
    }
    .exp p{
        margin-bottom: 1rem;
    }
    .ref p{
        margin-bottom: .2rem;
    }
    .ref a{
        margin-top: .6rem;
    }
    
    
}
